{% extends 'base.html' %}

{% block content %}

    <html>
        <head>
            <title>Xmlx</title>
        </head>
        <body>
        <div class="row">
            <div class="col-6">
            <h4>Element pobrany przy pomocy xPath</h4>
                <div class="card-body" >
                    Pobrany element:
                    <p>
                        {{lxml1}} 
                    </p>                        
                </div>
            </div> 
            <hr>
            <div class="col-6">
            <h4>Element pobrany przy pomocy klasy</h4>
                <div class="card-body" > 
                    Pobrany element:
                    <p>
                        {{lxml2}} 
                    </p>                     
                </div>
            </div>
        </div>
        
              
        </body>
    </html>
{% endblock %}