<!DOCTYPE html>
<html>
<body>

  <form>
    <div>
      <label for="number">Licz silnie do liczby:</label>
      <input type="number" id="number">
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
    <p id="result"></p>
<script id="factorial" type="javascript/worker">
  var factorial
    self.onmessage = function(e) {
    let userNum = Number(e.data);
    factorial(userNum);
    }


    function factorial(num){
        let temp;
        factorial = num;
        console.log(factorial)
        while (num > 1){
            num--;
            factorial *= num;
        }
        console.log(factorial)
        self.postMessage(factorial);
        }
</script>
<script>
    var blob = new Blob([document.querySelector('#factorial').textContent]);
    blobURL = window.URL.createObjectURL(blob);
    var form = document.querySelector('form');
    var input = document.querySelector('input[type="number"]');
    var result = document.querySelector('p#result');
    var worker = new Worker(blobURL);

    worker.onmessage = function(event) {
      result.textContent = event.data;
    };

    form.onsubmit = function(e) {
      e.preventDefault();
      worker.postMessage(input.value);
      input.value = '';
    }
 
</script>

</body>
</html>